.mainpage {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  bottom: 0;
  transform: translateZ(-9px) scale(2);
  -webkit-transform: translateZ(-9px) scale(2);
  -moz-transform: translateZ(-9px) scale(2);
  -ms-transform: translateZ(-9px) scale(2);
  -o-transform: translateZ(-9px) scale(2);
}

.title {
  filter: opacity(70%);
  box-shadow: 0px 0px 70px;
  border-radius: 140px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  -ms-border-radius: 140px;
  -o-border-radius: 140px;
  -webkit-filter: opacity(70%);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
  flex-direction: column;
}
